$colors: (
    "bg-primary": #EBDEDC,
    "bg-secondary": #F3EBEA,
    "accent-primary": #FDBF1E,
    "accent-secondary": #D86410,
    "accent-secondary-10": rgba(216, 100, 16, 0.1),
    "accent-tertiary": #FF7E55,
    "accent-acid": #FEED01,
    "text-primary": #2C3034,
    "text-secondary": #6B6661,
    "overlay": rgba(0, 0, 0, 0.5),
    "success": #429D4B,
    "success-10": rgba(66, 157, 75, 0.1),
    "error": #D63E3E,
    "error-10": rgba(214, 62, 62, 0.1),
    "border": #C7BAB8,
    "cell-1": #5C5CFF,
    "cell-2": #429D4B,
    "cell-3": #D63E3E,
    "cell-4": #434395,
    "cell-5": #8D2D2D,
    "cell-6": #209595,
    "cell-7": #2C3034,
    "cell-8": #6B6661,
    "disabled": #BEBEBE
);

:root {
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
    }
}

@mixin generate-color-classes($name) {
    .#{$name}--bg {
        background-color: var(--color-#{$name});
    }
    
    .#{$name}--text {
        color: var(--color-#{$name});
    }
}

@each $name, $value in $colors {
    @include generate-color-classes($name);
}